body{
    z-index: 1;
}
ul{
    list-style: none;

}
.card:hover{
   animation: zoom 4s infinite
}
@keyframes zoom {
    0%{
        transform: scale(1.07);
    }
    100%{
        transform: scale(1.08);
    }
}
#modal{
    z-index: 30;
    display: flex;
    position: absolute;    
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;    
    border-radius: 12px;
}
#close{
    font-weight: 900;
    color: rgb(255, 255, 255);
    
    transform: translateX(280px);
}